


body {
    margin: 0px;
    background-color: rgb(63, 59, 59);
    }

 .align-self .caixa{
    display: flex;
    background-color: rgb(63, 59, 59);
    justify-content: center;
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-weight: lighter;
    color: black;
    height: 50px;
    width: 100%;
    margin: 10px;
    }
 .h1{
    font-size: 50px;
    }

 .align-self .caixa2{
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    margin: 10px;
    justify-content: center;
    }
        

    .align-self .caixa2{
        display: flex;
        height: 50px;
        width: 100%;
        align-items: center;
        margin: 10px;
        justify-content: center;
    }
    
    img{
        display: flex;
        max-width:400px;
        max-height:300px;
        margin-left: 50px;
        width: 40%; 
    }
    
    .sinopse{
        display: flex;
        text-align: justify;
        width: 50%;
        font-size: 20px;
        font-family: Comic Sans MS, Comic Sans, cursive;
        margin-left: 10px;
     
    }
    
    .gap{
        display: flex;
        justify-content: flex-end;
        gap: 20px;
        flex-direction:column;
        position: absolute;
    }
    
    .video{
        display:flex;
        margin-top: 10%;
        margin-left: 60%;
    }

    
/* Usar media query para responsividade do vídeo */


   